.parent {
  position: relative;
}

.bottom {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 33px;
}

.footer-text {
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

.footer-image {
  margin-left: 10px;
}

.connect {
  opacity: 1;
  width: auto;
}

.themebtn {
  width: auto;
}

.connectbtn {
  width: auto;
}

.headerButton {
  .text {
    margin-left: 6px;
  }

  @media screen and (max-width: 700px) {
    .text {
      display: none;
    }
  }
}
